<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V0.1</title>
</head>
<body>
    <header class="container">
        <a class="btn " routerLink="/"><h1>HOME</h1></a>
        <h2>Those people does not not exist, and so their description...</h2> 
    </header>
    <!-- <app-card-tst></app-card-tst> -->
    <main class="container"> 
        <router-outlet></router-outlet>
    </main>
    <footer class="container"><p class="container"> <h2> author: Davit Skhiladze</h2></footer>
</body>
</html>


